<html>
    <head>
        <meta charset="UTF-8">
        <title>ML API</title>
    </head>
    <body>
    <div>
        <h1>Insurance  Prediction ML Algorithm</h1>
        <form method="POST", action = "{{url_for('predict')}}">
            <label for="Length1">Length1</label>
            <p><input type = "text" name="Length1" placeholder="Length1"></p>
            <br><br>
            <label for="Length2">Length2</label>
            <p><input type = "text" name="Length2" placeholder="Length2"></p>
            <br><br>
            <label for="Length3">Length3</label>
            <p><input type = "text" name="Length3" placeholder="Length3"></p>
            <br><br>
            <label for="Height">Height</label>
            <p><input type = "text" name="Height" placeholder="Height"></p>
            <br><br>
            <label for="Width">Width</label>
            <p><input type = "text" name="Width" placeholder="Width"></p>
            <br><br>
            <label for="Species">Species</label>
            <p><input type = "text" name="Species" placeholder="Species"></p>
            <br><br>
            <input type="submit" value="predict" onclick="predict()">
        </form>
    </div>
    </body>
</html>






        </from>
    </div>
    </body>